html, body {
	
  height: 100%;
  margin: 0; /* Removes default margin to avoid gaps */
  
}

#jumbotron {

  background-image: url("jumbotron_image.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  text-align: center;
  /*background-color: red !important;*/
  
}

.nav-item {
	
	color: white;
	
}